//============== width <= 320px ==============


.arrow{
	width: rem(26px);
	height: rem(16px);
	margin: 0 auto;
	&__ico{
		width: 100%;
		height: 100%;
		fill: rgba($colorLight,.7s);
	}
	&__link{
		display: inline-block;
		position: relative;
		height: 100%;
		z-index: 1;
		width: rem(40px);
	};
}

.arrow--absolute{
	position: absolute;
}

//============== width >= 768px ==============

@include apply-to($tablet){
	.arrow{
		bottom: 51px;
	}
}


//============== width >= 1200px ==============

@include apply-to($tablet){
	.arrow{
		bottom: 71px;
	}
}