//============== width <= 320px ==============


.arrow{
	width: rem(26px);
	height: rem(16px);
	cursor: pointer;
	margin: 0 auto;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 60px;
	z-index: 1;
	&__ico{
		width: 100%;
		height: 100%;
		fill: rgba($colorLight,.7s);
	}
}



//============== width >= 768px ==============

@include apply-to($tablet){
	.arrow{
		bottom: 51px;
	}
}


//============== width >= 1200px ==============

@include apply-to($tablet){
	.arrow{
		bottom: 71px;
	}
}