//============== width <= 320px ==============

$avatar-size: 141px;

.avatar{
	overflow: hidden;
	&__img{
  	display: block;
  	width: 100%;
  }
}

.avatar--size-s{
	width: rem($avatar-size);
  height: rem($avatar-size);
}

.avatar-rounder{
  border-radius: 50%;
  margin: 0 auto;
}


// cascade


.header__content{
	.avatar{
		margin-bottom: rem(29px);
	}
}

//============== width >= 768px ==============
@include apply-to($tablet){
	.header__content{
		.avatar{
			margin-bottom: rem(25px);
		}
	}
}