//============== width <= 320px ==============

.button{
	background-color: $colorMain;
	font-size: rem(14px);
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	padding: rem(10px) rem(20px);
	color: $colorLight;
	text-decoration: none;
	outline: none;
	border: none;
	text-align: center;
	&:hover{
		background-color: darken(desaturate(adjust-hue($colorMain, 4.0766), 8.3333), 3)
	}
/* 	&__link{
		display: block;
		padding: em(15px) em(20px);
		@include trans(.1s);
	} */
	&__ico{
		width: em(21px);
		height: em(19px);
		position: absolute;
		fill: $colorLight;
	}
}

.button--rounded{
	border-radius: 5px;
}

/* .button--rounded{
	border-radius: 5px;
} */

.buttons{
	width: 100%;
	display: flex;
	flex-grow: 1;
	&__item{
		display: flex;
		flex-grow: 1;
		border-right: rem(2px) solid rgba($colorLight,.5);
		&:last-child{
			border-right: none;
		}
		
	}
	&__link{
		border: none;
		outline: none;
		background-color: $colorMain;
		text-decoration: none;
		color: darken(saturate(adjust-hue($colorLight, 0.0000), 0.0000), 1.1765);
		text-align: center;
		width: 100%;
		font-size: rem(14px);
		padding: em(14px) em(20px);
		border-right: rem(2px) solid rgba($colorLight,.5);
		&:last-child{
			border-right: none;
		}
		&:hover{
			background-color: darken(desaturate(adjust-hue($colorMain, 4.0766), 8.3333), 3)
		}
	}
}

.button__ico--left{
	left: em(10px);
	top: em(13px);
	& + .button__link{
		padding-left: em(41px);
	}
}


//============== width >= 768px ==============
@include apply-to($tablet){
	.buttons{
		&__link{
			font-size: rem(16px);
			padding: em(15px) em(20px);
		}
	}
	.slider{
		.button{
			&__link{
				position: relative;
				padding: em(15px) em(50px);
				left: em(8px);
			}
			&__ico{
				width: em(28px);
				height: em(22px);
			}
			.button__ico--left{
				left: em(20px);
			}
		}
	}
}

//============== width >= 1200px ==============

@include apply-to($notebook){
	.buttons{
		&__link{
			font-size: rem(16px);
			padding: em(13px) em(20px);
		}
	}
}