//============== width <= 320px ==============
.copyrigth{
	text-align: center;
	font-family: $r-l;
	&__text{
		display: inline-block;
		font-size: rem(14px);
		
	}
}

.copyright--welcome{
	position: absolute;
	width: 100%;
	margin-bottom: rem(8px);
	position: absolute;
	bottom: 0;
	color: $colorLight;
	.copyright__text{
		max-width: em(244px);
	}
}

.copyrigth--footer{
	color: rgba($colorLight,.5);
}

//============== width >= 768px ==============
@include apply-to($tablet){
	.copyrigth{
		&__text{
			font-size: rem(16px);
			max-width: em(500px);
		}
	}
	#welcome-page{
	.copyrigth{
			margin-bottom: rem(30px);
		}
	}
}


//============== width >= 1200px ==============
@include apply-to($tablet){
	.copyrigth--footer{
		text-align: right;
	}
}