// ================== 1800 width ================== //

$size: 118px;
$innerSize: 78px;
$activeColor: #16c2aa;
$percent: 0;
$bgColor: lighten(desaturate(adjust-hue(#00bfa5, -129.8325), 86.4865), 48.0392);

.skill {
  width: $size;
  height: $size;
  border-radius: 50%;
  position: relative;
  &__wrap{
    transform: rotate(-90deg);
    border-radius: 50%;
  }
  &__circle{
    stroke: $activeColor;
    fill: $bgColor;
    @include trans(.5s);
    stroke-width: 32;
    stroke-dasharray: $percent 100;
  }
}




// INNER
.skill__inner{
  background-color: $colorRigthSide;
  text-align: center;
  height: $innerSize;
  width: $innerSize;
  position: absolute;
  border-radius: 50%;
  @include center();
  .skill__text {
    color: $colorMain;
  	@include center();
    display: block;
    font-size: 14px;
    font-weight: bold;
  }
}
