.title{
	text-align: center;
	color: $colorBase;
	@extend %slick;
	position: relative;
	font-weight: normal;
}


//===== modificators blocks =====

// size
.title--size-s{
	font-size: rem(14px);
	@include apply-to($tablet){
		font-size: rem(16px);
  }
}

.title--size-m{
	font-size: rem(21px);
	@include apply-to($tablet){
		font-size: rem(35px);
  }
}

.title--size-l{
	font-size: rem(35px);
	@include apply-to($tablet){
		font-size: rem(49px);
  }
  @include apply-to($notebook){
		font-size: rem(63px);
  }
}

// color

.title--light{
	color: $colorLight;
}

// view

.title--heading{
	font-family: $b-r;
}

//===== modificators elements =====

.title__text--dash{
	display: table;
	position: relative;
	margin: 0 auto;
	padding: 0 em(20px);
	&:after,&:before{
		content: '';
		position: absolute;
		display: block;
		background-color: currentColor;
		opacity: .2;
		height: rem(5px);
		width: rem(22px);
		top: 50%;
	}
	&:after{
		left: 0;
	}
	&:before{	
		right: 0;
	}
}

.title__svg--back-side{
	fill: currentColor;
	position: absolute;
	top: 30%;
  left: 50%;
	z-index: -1;
	opacity: .07;
	transform: translate(-50%, -50%) scale(0.9);
  @include apply-to($tablet){
		transform: translate(-50%, -50%) scale(1.4);
  }
  @include apply-to($notebook){
  	transform: translate(-50%, -50%) scale(1.675);
  }
}