//============== width <= 320px ==============

.title{
	text-align: center;
	font-size: rem(21px);
	color: $colorBase;
	@extend %slick;
	position: relative;
	&__svg{
		@include center();
		fill: rgba($colorBase,.07);
		width: 200%;
		height: 200%;
	}
	&__text{
		display: block;
	}
}

.title--big{
	font-size: rem(35px);
}

.title--small{
	font-size: rem(14px);
	color: rgba($colorBase, 0.8)
}

.title--dash{
	font-family: $b-r;
	display: inline-block;
	.title__text{
		position: relative;
		display: block;
		&:after,&:before{
			content: '';
			position: absolute;
			display: block;
			background-color: rgba($colorBase,.2);
			height: rem(5px);
			width: rem(22px);
			top: 48%;
		}
		&:after{
			left: rem(-38px);
		}
		&:before{	
			right: rem(-38px);
		}
	}
}

// cascade

.cover--welcome{
	.title--medium{
		margin-bottom: 10px;
	}
}

.cover--welcome{
	.title--medium{
		margin-bottom: 10px;
	}
}

.header__content{
	.title{
		color: $colorLight;
	}
	.title--medium{
		margin-bottom: rem(9px);
	}
}

.slider{
	.title{
		max-width: em(160px);
		margin-bottom: em(20px);
		&__text{
			&:after{
			left: rem(-10px);
		}
		&:before{	
			right: rem(-10px);
		}
		}
	}
}


//============== width >= 768px ==============
@include apply-to($tablet){
	.title--small{
		font-size: rem(16px);
	}
	.title--medium{
		font-size: rem(28px);
	}
	.header__content{
		.title--medium{
			font-size: rem(34px);
		}
	}
	.title--dash{
		font-size: rem(49px);
	}
}

//============== width >= 768px ==============
@include apply-to($notebook){
	.title--dash{
		font-size: rem(63px);
	}
}