// options
$slick-blocks : true;

// size
$mobile 	: 320px;
$tablet 	: 768px;
$notebook : 1200px;
$desktop	: 1800px;

// fonts
$r-r :'Roboto-Regular';
$r-m : 'Roboto-Medium';
$r-l :'Roboto-Light';
$r-b :'Roboto-Bold';
$b-r :'BERNIER Regular';

//transition
$slick-speed : .3s;

//path
$img : '../img/';

*, *::after, *::before {
  box-sizing: border-box;
}

//colors

$colorLight: #fff;
$colorBase: #455a64;
$colorMain: #00bfa5;
$colorSliderDesk: #efebe0;
$colorSliderInfo: #f0efe9;



html,body{
	height: 100%;
	font-size: 100%;
	min-height: 530px;
	min-width: 320px;
	margin: 0;
}

body{
	font-family: $r-m, Helvetica, Arial, sans-serif;
	background-color: darken(saturate(adjust-hue($colorLight, 48.0000), 50.0000), 3.9216)
}

.wrapper{
	position: relative;
}
.container{
	padding: 0 rem(11px);
	@include apply-to($tablet){
		padding: 0 rem(24px);
	}
}

::selection {
	background: $colorMain; /* Safari */
	color: $colorLight;
}
::-moz-selection {
	background: $colorMain; /* Firefox */
	color: $colorLight;
}


// pages

#welcome-page{
	min-height: 500px;
	height: 100vh;
	@include img($img + '/mountains.jpg');
	background-size: cover;
	position: relative;
}



// extends

%slick{
	@if($slick-blocks){
		@include trans($slick-speed);
	}
	@else{
		transition: none;
	}
}
