//============== width <= 320px ==============
.cover{
	width: rem(300px);
  background-color: rgba(darken(saturate(adjust-hue($colorLight, 0.0000), 0.0000), 1.1765),0.85);
  //border-radius: rem(5px);
  overflow: hidden;
  position: relative;
  @extend %slick;
  &__title{
  	margin-bottom: em(27px);
  }
  &__fieds{
  	padding: 0 rem(20px);
  	margin-bottom: rem(20px);
  }
  &__button{
  	display: flex;
		flex-grow: 1;
		width: 100%;
  }
  &__button-item{
		flex-grow: 1;
		display: block;
		text-align: center;
		border-right: rem(2px) solid rgba($colorLight,.5);
		&:last-child{
			border-right: none;
		}
  }
}

.cover--rounded{
	border-radius: rem(5px);
}

.cover--welcome{
	@include center();
	font-size: 100%;
	padding-top: em(40px);
	.cover__part{
		&:nth-child(1){
			margin-bottom: em(21px);
		}
		&:nth-child(2){
			margin-bottom: em(32px);
		}
		&:nth-child(3){
			margin-bottom: em(37px);
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.cover--welcome{
	.title--size-m{
		margin-bottom: em(10px);
		@include apply-to($tablet){
			font-size: rem(28px);
		}
	}
}

.cover--send-me{
	padding: rem(20px) 0 0;
	.cover__title{
		@include apply-to($tablet){
			font-size: rem(30px);
		}
	}
	.title__text{
		&:after,&:before{
			top: rem(10px);
		}
	}
}

.cover--blur{
	background-color: transparent;
	.cover__blur{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: url("../img/bg-sea.jpg") no-repeat;
		z-index: -1;
		//background-position: -492px -563px;
		filter: blur(4px);
		//background-size: 1473px auto;
		@include line();
	}
}




//============== width >= 768px ==============
@include apply-to($tablet){
	.cover{
		width: rem(348px);
	}
	.cover--welcome{
		margin-bottom: rem(112px);
	}
}


//============== width >= 1200 ==============
@include apply-to($notebook){
	.cover{
		width: rem(380px);
	}
	.cover--welcome{
		.cover__part{
			&:nth-child(1){
				margin-bottom: em(14px);
			}
			&:nth-child(3){
				margin-bottom: em(33px);
			}
		}
	}
}