// ================== 1800 width ================== //

$slider-height: 100vh;

.slider{
	-moz-user-select: none;
	-webkit-user-select: none;
	height: $slider-height;
	width: 100%;
	overflow: hidden;
	min-height: rem(500px);
	&__desk{
		width: 50%;
		height: 100%;
		float: left;
		position: relative;
		&__wrap{
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.slider__skills{
			color: $colorMain;
			text-align: center;
			margin-bottom: 20px;
			text-transform: uppercase;
		}
	}
	.desk__content{
		position: absolute;
		@include center();
		margin: auto;
		opacity: 0;
		transition: opacity .3s;
	}
	.active__desk__content{
		opacity: 1;
	}
	&__content{
		float: right;
		width: 50%;
		height: 100%;
		height: calc(100% - 255px);
		position: relative;
	}



	&__view{
		width: 100%;
		height: 100%;
		background-color: #e1e4d7;
		margin: 0;
		overflow: hidden;
		position: relative;
	}
	&__list{
		margin: 0;
		padding: 0;
		width: 100%;
		list-style-type: none;
		position: relative;
		height: 100%;
	}
	&__item{
		top: 0;
		left: 0;
		position: absolute;
		z-index: -1;
		padding: 50px;
		height: 100%;
		width: 100%;
		padding: 0;
	}
	&__active{
		z-index: 10;
	}
	&__img-wrap{
		width: 100%;
		max-height: 100%;
		text-align: center;
		overflow: hidden;
		@include center();
	}
	&__img{
		max-width: 100%;
    max-height: 100%;
    width: 100%;
    display: block;
	}
	&__controll{
		height: 255px;
		width: 50%;
		float: left;
		overflow: hidden;
	}
	&__button{
		width: 50%;
		float: left;
		height: 100%;
		position: relative;
		&:after{
			content: "";
			display: block;
			width: 100%;
			z-index: 200;
			height: 100%;
			position: absolute;
			background-color: rgba(#777,.5);
		}
	}
	&__ico{
		position: absolute;
		text-decoration: none;
		color: #fff;
		z-index: 201;
		font-size: 60px;
		top: 45%;
		@include center();
	}

	}


.slider__up,.slider__down{
	position: relative;
	width: 100%;
	height: 100%;
	width: 50%;
	float: left;
	@include center();
}


.slider{
	.slider__view{
		.slider__img-wrap{
			width: 100%;
			height: 100%;
			padding: 40px;
			.slider__img{
				width: 100%;
				height: 100%;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
}
.slider__button{
	.slider__img{
		width: 100%;
	}
}


.slider__button-ico{
	fill: $colorLight;
	width: 38px;
	height: 38px;
}

.slider__rotate{
	transform: rotate(180deg);
}

.slider__title{
	margin-bottom: rem(20px);
	max-width: rem(500px);
}






// Slider animate
$sliderSpeed : .5s;

.slider__controll{
	.slider__item{
		top: 100%;
		@include trans($sliderSpeed);
		//background-color: #ebefe2;
		.slider__img-wrap{
			height: 100%;
			width: 100%;
		}
		.slider__img{
			height: 100%;
			width: 100%;
			background: no-repeat center/contain;
		}

	}
	
	.slider__active{
		top: 0%;
		z-index: 11;
	}
		
.slider__up{
	.slide--down{
		top: 100%;
		z-index: 10;
	}
	.slide--up{
		top: -100%;
		z-index: 10;
	}
}




.slider__down{
	.slide--down{
		top: -100%;
		z-index: 10;
	}
	.slide--up{
		top: 100%;
		z-index: 10;
	}
}

}
.slider__item{
	opacity: 0;
	transition: opacity .7s ease-in-out;
}
.slider__active{
	
	opacity: 1;
}







// ================== 768 width ================== //


@include apply-to($notebook,max){


	.slider{
		display: flex;
		flex-direction: column;
		min-height: 1020px;
		flex-wrap: wrap;
		&__desk{
			width: 100%;
			order: 2;
			height: 268px;
			
		}
		.desk__content{
			width: 100%;
			.title{
				max-width: 100%;
				font-size: 30px;
			}
		}
		&__view{
			width: 100%;
			order: 1;
			
		}
		&__content{
			width: 100%;
			height: 529px;
		}
		&__controll{
			width: 100%;
			order: 3;
			height: 223px;
		}


	}


}


// ================== 480 width ================== //


@include apply-to($tablet,max){

	.slider{
		.desk__content{
			.title{
				font-size: 21px;
			}
		}
		.slider__skills{
			font-size: 14px;
		}
		.button{
				font-size: 14px;
			}
	}


}