//============== width <= 320px ==============

.slider{
	overflow: hidden;
}

.slider{
	&__desc{
	}
	&__list{
		height: 100%;
		margin: 0;
		padding: 0;
		height: rem(258px);
	}
	&__item{
		height: 100%;
		background-color: $colorSliderDesk;
		margin: 0;
		padding: 0;
		list-style-type: none;
		@include img($img + 'work-5.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center
	}
}

.slider{
	&__info{
		padding-top: rem(30px);
		padding-left: 2px;
		padding-right: 2px;
		background-color: $colorSliderInfo;
	}
}

.slider{
	&__skills{
		border-top: 2px solid rgba($colorMain,.3);
		border-bottom: 2px solid rgba($colorMain,.3);
		color: $colorMain;
		padding: em(10px) 0;
		margin-bottom: rem(21px);
	}
}