//============== width <= 320px ==============

// grid

.slider{
	overflow: hidden;
	display: flex;
  flex-flow: row wrap;
  @include apply-to($notebook){
		display: block;
		height: 100vh;
	} 
	&__info{
		display: flex;
    width: 100%;
    height: 100%;
    background: $colorSliderInfo;
    text-align: center;
    float: left;
		@include apply-to($notebook){
			width: 50%;
		} 
	}
	&__view{
		height: rem(259px);
		order: -1;
		width: 100%;
		@extend %slick;
		@include apply-to($tablet){
			height: rem(530px);
		}
		@include apply-to($notebook){
			width: 50%;
			float: right;
			height: calc(100% - #{rem(229px)});
		} 
	}
	&__control{
		width: 100%;
		height: rem(123px);
		@extend %slick;
		// new breakpoint
		@include apply-to(516px){
			height: rem(217px);
		}
		@include apply-to($notebook){
			width: 50%;
			height: rem(229px);
			float: right;
		} 
	}
}

// elements

.slider{
	&__info-in{
		display: inline-block;
		width: 100%;
		margin: auto;
		padding: em(23px) 3px;
		@include apply-to($tablet){
			padding: em(50px) 3px;
		}
		@include apply-to($notebook){
			max-width: rem(420px);
		}
	}
	&__info-button{
		width: rem(200px);
	}
	&__info-ico{
		position: absolute;
		left: em(30px);
		@include apply-to($tablet){
			left: em(25px);
			top: 8px;
		}
	}
	&__info-button-text{
		padding-left: em(20px);
	}

	&__title{
		max-width: rem(242px);
		margin: 0 auto em(20px);
		@include apply-to($tablet){
			max-width: rem(480px);
		}
	}

	&__skills{
		color: $colorMain;
		display: block;
		padding: em(10px);
		border-top: 1px solid $colorMain;
		border-bottom: 1px solid $colorMain;
		margin-bottom: em(30px);
		@include apply-to($tablet){
			max-width: rem(380px);
			margin: 0 auto em(18px);
		}
	}
	&__list{
		padding: 0;
		margin: 0;
		height: 100%;
		background-color: $colorSliderDesk;
		padding: rem(10px);
		@include apply-to($tablet){
			padding: rem(20px);
		}
		
	}
	&__item{
		list-style-type: none;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center
	}
	&__button{
		height: 100%;
		width: 50%;
		float: left;
		position: relative;
		&:before{
			display: block;
			content: '';
			position: absolute;
			background-color: rgba(darken(desaturate(adjust-hue($colorSliderDesk, 7.4286), 27.3988), 21.1765),.7);
			height: 100%;
			width: 100%;
		}
	}
	&__button-ico{
		width: 100%;
		cursor: pointer;
		max-height: rem(29px);
		max-width: rem(43px);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		fill: $colorLight;
	}
}


// modificators
.slider__ico--rotate{
	transform: rotate(180deg);
}